body {
    margin: 0;
    background-image: url(./Koala\ background\ JS.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 640px;
    height: 100vh;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

nav h1 {
    font-family: "rubik mono one";
    font-size: 45px;
    font-weight: 400;
    margin: 0 10px;
    color: #FAE278;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-image: linear-gradient(90deg, #9F8E25, #78681B 90%);
}

.nav-bar-border {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    background-image: linear-gradient(90deg, #78681B, #FAE278, #78681B);
}

.nav-bar-border p {
    font-family: "rubik mono one";
    font-weight: 200;
    font-size: 12px;
    color: #FAE278;
    margin: 0 10px;
}

.koala-illustration-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    max-width: 200px;
    height: 100%;
}

.koala-illustration-box img {
    position: relative;
    z-index: -1;
    width: 100%;
    top: 40px
}

.game-window {
    margin: 0 10px;
    padding: 10px;
    background-color: #78681B;
    border-radius: 25px 25px 0 0;
    position: relative;
}

.game-window-border {
    width: 102%;
    height: 102%;
    top: -2%;
    left: -1%;
    background-image: linear-gradient(135deg, #FAE278, #78681B);
    border-radius: 25px 25px 0 0;
    position: absolute;
    z-index: -1;
}

.block {
    display: flex;
    align-items: center;
    min-height: 75px;
    background-color: #FAE278;
    border-radius: 25px;
    margin: 10px 0px;
    padding-right: 10px;
}

.question {
    min-height: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.indicator {
    font-family: "rubik mono one";
    font-size: 32px;
    align-self: center;
    margin: 0 10px;
    color: #78681B;
}